.baseLayer{
    padding-top: 5rem;
}


.containerMenu {
    background-color: transparent;
    height: 30rem;
    color: #050503;
    font-weight: bold;
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(90%,100%);
    grid-template-rows: 3rem;  
    font-family: Georgia, 'Times New Roman', Times, serif;


    
}


.containerMenuTitle {
    font-weight: bold;
    border-radius: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: black;
}




.containerMenuMember {
    margin-top: 30px;
    display: flex;
    border-radius: 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    border: 1px solid transparent;
    height: 3rem;

}

.containerMenuMemberLink {
    text-decoration: none;
}

.containerMenuMember:hover {
    background-color: white;
    color: rgb(136, 15, 15);
    border: 1px solid rgb(136, 15, 15);
}
