.MainLayer {
    padding-top: 5rem;
  
}

.container {
    display: grid;
    grid-template-columns: minmax(15%,17%) minmax(2%,2%) minmax(75%,77%);
    border-radius: 2rem;
    padding: 1rem;


}

.background {
    background-image: url('./assets/13.jpg');
 }



.containerContent{
    background-color: transparent;
    justify-content: center;
}