/* .background {
    background-image:url('./Pages/mainpage/assets/13.jpg');
    background-size:75rem;
} */


.background {
    height: 100rem;
    background-image: url('./Pages/mainpage/assets/b3.jpg');
    background-repeat: 'no-repeat';
    background-size:260rem;
}; 