.adjustOrderContainer {
    display: flex;
    justify-content: center;

}

.adjustOrder {
    display: inline;
    width: 280px;
    
}

.adjustOrderContainer {
    display: flex;
    justify-content: center;
}

.adjustOrder input{
    margin-top: 25px;
    width: 30%;
    height: 1.5rem;
}

.adjustOrder button {
}

.adjustOrder span{
    margin: 15px;
    font-size: 1.8rem;
}
.adjustOrder span:hover {
    cursor:pointer;
    color:red;
}


.BtnOrder{
    margin-top: 10px;
}